<section>

  <div class="card">
    <h4 class="card-header">Create New Post</h4>
    <div class="card-body">
      <form class="new-post-form">
        <div>
          <label for="post-title">Title</label>
          <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
          <label for="post-desription">Description</label>
          <input id="post-description" name="post-description" />
        </div>
        <button type="submit" class="block">Create</button>
      </form>
    </div>
  </div>
</section>

{{#if posts.length}}
<section>
  <br>
  <br>
  <div class="card">
    <div class="card-header">
      <h5>Your Posts</h5>
    </div>
    <div class="card-body">
      <ol>
        {{#each posts as |post|}}
        <li>
          {{> dashpost-info post}}
          <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
      </ol>
    </div>
  </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>