<div class="card">
    <h5 class="card-header">Edit Comment</h5>
    <div class="card-body">
        <form class="comment-form">
            <div>
                <textarea name="comment-body">{{comment.comment_text}}</textarea>
            </div>

            <div>
                <button type="submit" class="block">Save comment</button>
                <button type="submit" class="delete-post-btn block">Delete comment</button>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/edit-comment.js"></script>