<div class="card">
  <h5 class="card-header">Login</h5>
  <div class="card-body">
    <form class="login-form">
      <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
      </div>
      <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button type="submit" class="block">login</button>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <h5 class="card-header">Singnup</h5>
  <div class="card-body">
    <form class="signup-form">
      <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
      </div>
      <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit" class="block">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/javascript/login.js"></script>